#ant specific
*/dist
*/build
*/*/dist
*/*/build

#netbeans specific
*/core
*/nbproject/*
!*/nbproject/project.properties
!*/nbproject/project.xml

#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
*.zip
/Lab2-EJB-Netbeans/Lab2-EAR/Lab2-EAR-ejb/dist/
/Lab2-EJB-Netbeans/Lab2-EAR/Lab2-EAR-ejb/build/*
